/* Register.css */
@import "./Login.css";

.register-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f7fb;
}

.login-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f4f7fb;
  flex-direction:column;
  padding:30px;
}

.logo-area{
  display:flex;
  align-items:center;
  gap:12px;
  margin-bottom:30px;
}

.logo-box{
  width:55px;
  height:55px;
  background:#2563eb;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:12px;
}

.login-card{
  width:450px;
  background:#fff;
  padding:35px;
  border-radius:15px;
  box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.login-card h1{
  margin-bottom:25px;
  text-align:center;
}

label{
  display:block;
  margin:12px 0 6px;
  font-weight:500;
}

.input-box{
  display:flex;
  align-items:center;
  border:1px solid #ddd;
  border-radius:8px;
  padding:10px;
  margin-bottom:15px;
}

.icon{
  color:#777;
  margin-right:10px;
}

.input-box input{
  flex:1;
  border:none;
  outline:none;
  font-size:15px;
}

.eye-btn{
  background:none;
  border:none;
  cursor:pointer;
}

.login-btn{
  width:100%;
  padding:12px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
  margin-top:10px;
}

.login-btn:hover{
  background:#1d4ed8;
}

.register{
  text-align:center;
  margin-top:20px;
}

.register a{
  color:#2563eb;
  text-decoration:none;
  margin-left:5px;
  font-weight:600;
}