.analytics-page{
    padding:30px;
    background:#f8fafc;
    min-height:100vh;
}

.page-title{
    font-size:30px;
    margin-bottom:25px;
    color:#1e293b;
}

.analytics-cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.card h3{
    margin:15px 0 5px;
    font-size:30px;
}

.card p{
    color:#64748b;
}

.chart-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-top:30px;
}

.chart-card{
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.chart-card h3{
    margin-bottom:20px;
}

.pie-section{
    margin-top:30px;
}

.pie-card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

@media(max-width:992px){

.analytics-cards{
grid-template-columns:repeat(2,1fr);
}

.chart-grid{
grid-template-columns:1fr;
}

}

@media(max-width:768px){

.analytics-cards{
grid-template-columns:1fr;
}

}